@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap");
button.slick-next,
button.slick-prev {
  z-index: 1;
}
button.slick-next {
  right: 10px;
}
button.slick-prev {
  left: 10px;
}
button.slick-next::before {
  color: black;
  content: "\2192";
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
button.slick-prev::before {
  color: black;
  content: "\2190";
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

div.slick-track,
div.slick-list,
.slick-slide div {
  height: 100%;
}

.iso-product {
  transition: transform 0.3s ease-in-out;
}

.iso-product.visible {
  transform: translateX(0);
}

.iso-product.hidden {
  transform: translateX(-100%);
}

.product__item:hover .product__hover {
  right: 20px;
  opacity: 1;
}
